<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <form class="borde" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid row mt-4">
      <div class="col-4">
        <div class="d-flex">
          <div class="d-flex flex-column gap-3 texto">
            <div class="label borde2">Nombre:</div>
            <div class="label borde2">Peso:</div>
            <div class="label borde2">Altura:</div>
          </div>
          <div class="d-flex flex-column gap-3 texto">
            <input class="borde" type="text" id="name" name="name" formControlName="nombre">
            <input class="borde" type="text" id="peso" name="peso" formControlName="peso">
            <input class="borde" type="text" id="altura" name="altura" formControlName="altura">
            <button type="submit" class="boton">Calcula</button>
          </div>
        </div>
      </div>
      <div class="col-8 mr-4 borde">
        <div class="d-flex flex-column gap-1">
          <div class="borde d-flex justify-content-around gap-1">
            <div class="d-flex">
              <input type="radio" value="metrico" id="metrica" name="metrica" formControlName="metrica">
              <div class="borde2 label2 text-center">Métrico</div>
            </div>
            <div class="d-flex">
              <input type="radio" value="ingles" id="metrica" name="metrica" formControlName="metrica">
              <div class="borde2 label2 text-center">Ingles</div>
            </div>  
          </div>
          <div class="border2">
            <p id="resultado"></p>
          </div>
         </div>
        </div>
      </div>
  </form>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
