
.boton {
    border-radius: 35%;
    background-color: orange;
    color: white;
    height: 55px;
}
.label {
    height: 35px;
    width: 100px;
}

.label2 {
    width: 65px;
}

.borde {
  border: 3px solid green;
}

.borde2 {
  border: 3px solid black;
}

.texto {
    height: 250px;
}

input {
    height: 35px;
}
