
.fondo {
    background-image: url('../assets/img/fondo.png');
    background-size: cover;
    background-repeat:no-repeat;
    height: 300px;
    font-weight: bold;
}

.boton {
    border-radius: 35%;
    background-color: orange;
    color: white;
    height: 55px;
}
.label {
    height: 35px;
    width: 100px;
    background-color: white;
}

.label2 {
  width: 65px;
  background-color: white;
}

.borde {
  border: 3px solid green;
}

.borde2 {
  border: 3px solid black;
}

.texto {
    height: 250px;
}

input {
    height: 35px;
}

p {
    background-color: white;
}

.sombra {
  box-shadow: 6px -6px teal;
}
