<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()>
    <div class="container-fluid row mt-4">
      <div class="col-4">
        <div class="d-flex">
          <div class="d-flex flex-column gap-3">
            <div class="label">Nombre:</div>
            <div class="label">Peso:</div>
            <div class="label">Altura:</div>
          </div>
          <div class="d-flex flex-column gap-3">
            <input type="text" id="name" name="name" formControlName="nombre">
            <input type="text" id="peso" name="peso" formControlName="peso">
            <input type="text" id="altura" name="altura" formControlName="altura">
            <button type="submit" class="boton">Calcula</button>
          </div>
        </div>
      </div>
      <div class="col-8">

      </div>
    </div>
  </form>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
